.vs/
build/
*.obj
*.pdb
*.ilk
*.log

libs/*/.source/
libs/*/build/
libs/*/build*/

ofxGgml*Example/bin/
ofxGgml*Example/obj/
ofxGgml*Example/.vs/
ofxGgml*Example/*.sln
ofxGgml*Example/*.vcxproj
ofxGgml*Example/*.vcxproj.filters
ofxGgml*Example/*.vcxproj.user
ofxGgml*Example/config.make
ofxGgml*Example/icon.rc

models/
data/models/
